
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Formatos</h2>
<br />

<div class="contenedor_forms">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="t-header">
                <tr>
                    <th scope="col">FORMATOS</th>
                    <th scope="col">ACCIÓN</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Compra Servicio Descuento vía Nómina</th>
                    <td>@* COMPRA%20SERVICIO%20DESC%20VIA%20NOMINA *@
                        <a href="~/assets/formatos/COMPRA SERVICIO DESC VIA NOMINA.xlsx" >
                            <i class="fas fa-cloud-download-alt descarga-formato"></i>
                        </a>


                    </td>
                    
                </tr>
                <tr>
                    <th scope="row">Compra crédito</th>
                    <td>
                        <a href="~/assets/formatos/FORMATO COMPRA CREDITO.xlsx">
                            <i class="fas fa-cloud-download-alt descarga-formato"></i>
                        </a>

                    </td>
                    
                </tr>
                <tr>
                    <th scope="row">Compra servicio</th>
                    <td>
                        <a href="~/assets/formatos/FORMATO COMPRA SERVICIO.xlsx">
                            <i class="fas fa-cloud-download-alt descarga-formato"></i>
                        </a>

                    </td>
                    
                </tr>
                <tr>
                    <th scope="row">Préstamo personal y/o retiro de fondo de ahorro </th>
                    <td>
                        <a href="~/assets/formatos/FORMATO DE PRESTAMOS  RETIRO DE F A OPTATIVO.xlsx" >
                            <i class="fas fa-cloud-download-alt descarga-formato"></i>
                        </a>

                    </td>

                </tr>
                <tr>
                    <th scope="row">Vacaciones </th>
                    <td>
                        @*<a data-fancybox="gallery" href="http://docs.google.com/viewer?url=~/assets/formatos/FORMATO DE VACACIONES.xls">
                            <i class="fas fa-cloud-download-alt descarga-formato"></i>
                        </a>*@
                        <a href="~/assets/formatos/FORMATO DE VACACIONES.xls" >
                            <i class="fas fa-cloud-download-alt descarga-formato"></i>
                        </a>

                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    </div>





