@model IEnumerable<DINTRANET.Models.eventos>


<!-- ============ EVENTOS ============ -->
<div id="eventos" class="Servicios_slider">
    <br><br><br>
    <div class="center-block less-width text-center clearfix">
        <h1>Programacion <span class="text-greensea"> de Eventos</span></h1>

    </div>
    <div class="container clearfix">

        <!-- <div class="heading-block mb-60">
                              <h1 class="text-uppercase">Programacion de Eventos</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, velit, eum, delectus aliquid dolore numquam dolorem assumenda nisi nemo eveniet et illo tempore voluptatem cum in repudiandae pariatur. Architecto, exercitationem perspiciatis nam quod tenetur alias necessitatibus quibusdam eum accusamus a.</p>
                          </div> -->

        <div class="row">
           

            @*<div class="col-md-3 col-sm-3">
                    <ul class="tabs-menu">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Enero 2019</a></li>
                        <li class=""><a href="#tab_2" data-toggle="tab">Febrero 2019</a></li>
                        <li class=""><a href="#tab_3" data-toggle="tab">Marzo 2019</a></li>
                    </ul>
                </div>*@

            <div class="col-md-9 col-sm-9">
                <div class="tab-content">



                    <!-- START TAB 1 -->
                    <div class="tab-pane active" id="tab_1">
                        <div class="panel-group" id="accordion1">

                            <div class="panel panel-faq active">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse">
                                            Visita a los Abuelos (18/Enero/2019)
                                        </a>
                                    </h4>
                                </div>
                                <!-- <div class="panel-collapse collapse in" id="accordion1_1"> -->
                                <div class="panel-collapse collapse" id="accordion1_1">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        <br><br>
                                        <img src="https://media.istockphoto.com/photos/young-beautiful-woman-visit-her-grandparents-picture-id1044816192" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            Visita a la fabrica Coca-Cola (25/Enero/2019)
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion1_2">
                                    <div class="panel-body">
                                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        <br><br>
                                        <img src="https://cronicaglobal.elespanol.com/uploads/s1/34/92/82/4/coca-cola.jpeg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion1_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            Visita al Hospital (30/Enero/2019)
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion1_3">
                                    <div class="panel-body">
                                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        <br><br>
                                        <img src="https://elhispanoparatodos.com/wp-content/uploads/2018/05/visita-hospital.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END TAB 1 -->
                    <!-- START TAB 2 -->
                    <div class="tab-pane" id="tab_2">
                        <div class="panel-group" id="accordion2">

                            <div class="panel panel-faq active">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                            EVENTO 8
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion2_1">
                                    <div class="panel-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </p>
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 9
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion2_2">
                                    <div class="panel-body">
                                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion2_3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 10
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion2_3">
                                    <div class="panel-body">
                                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion2_4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 11
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion2_4">
                                    <div class="panel-body">
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion2_5" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 12
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion2_5">
                                    <div class="panel-body">
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion2_6" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 13
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion2_6">
                                    <div class="panel-body">
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion2_7" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 14
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion2_7">
                                    <div class="panel-body">
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END TAB 2 -->
                    <!-- START TAB 3 -->
                    <div class="tab-pane" id="tab_3">
                        <div class="panel-group" id="accordion3">

                            <div class="panel panel-faq active">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion3_1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle">
                                            EVENTO 15
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion3_1">
                                    <div class="panel-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </p>
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </p>
                                        <p>
                                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion3_2" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 16
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion3_2">
                                    <div class="panel-body">
                                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion3_3" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 17
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion3_3">
                                    <div class="panel-body">
                                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion3_4" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 18
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion3_4">
                                    <div class="panel-body">
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion3_5" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 19
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion3_5">
                                    <div class="panel-body">
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion3_6" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 20
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion3_6">
                                    <div class="panel-body">
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-faq">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#accordion3_7" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
                                            EVENTO 21
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="accordion3_7">
                                    <div class="panel-body">
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END TAB 3 -->

                </div>
            </div>



        </div>

    </div><!-- /EVENTOS -->
    <br><br><br>
</div>

<!-- ============ END EVENTOS ============ -->

