@model DINTRANET.Models.categoriasBlog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div class="contenedor_forms">
    <div>

        <hr />
        <dl class="dl-horizontal">           

            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.categoriaId }) |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>

</div>