
@{
    ViewBag.Title = "mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="contenedor_forms" style="padding-top:0px; margin-top:0px;" >

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <img src="~/assets/images/mantenimiento1.png" style="width:57%;" />
                </center>
            </div>

        </div>
        
    </div>
</div>