
<script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
@{
    ViewBag.Title = "organigrama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="tree"></div>
@*<div id="divOrganigrama" style="margin: 0px; padding: 0px; width: 100%; height: auto; overflow: hidden;">
    <div id="tree" style="position: relative;" />

</div>*@
    






